/********************/
/* COLORS */
/********************/
/* Dark Color - #121d1f */
/* Blue Color - #6fb2c2 */

/********************/
/* BODY CSS */
/********************/

* {
	box-sizing: border-box;
	/* The box-sizing propery is used to tell the browser what the sizing properties (width and height) should include; border-box includes content, padding, and border, but not the margin */
	margin: 0;
	padding: 0;
}

html {
	background-color: #fff;
	color: #555;
	font-family: 'Lato', 'Arial', sans-serif;
	font-size: 20px;
	font-weight: 300;
	text-rendering: optimizeLegibility;
	/* The text-rendering property provides information to the rendering engine about what to optimize for when rendering text; optimizeLegibility emphasizes legibility over rendering speed */
}

/********************/
/* REUSABLE CSS */
/********************/

.row {
	margin: 0 auto;
	max-width: 1140px;
}

section, footer {
	padding: 80px 0;
}

/********************/
/* MULTIPURPOSE CSS */
/********************/

.skills,
.arrow-home {
	padding: 40px 0;
}

.skills-row .col {
  text-align: center;
}

.skills-row img {
  width: 33.3%;
}

/********************/
/* PARAGRAPHS CSS */
/********************/

.hero-text-box span {
	font-size: 150%;
	font-style: italic;
	font-weight: bold;
}

.hero-text-box p {
	color: #fff;
	letter-spacing: 1px;
	line-height: 200%;
	margin-bottom: 20px;
	width: 45%;
}

.about-text p {
	line-height: 135%;
	margin: 0 auto;
	padding-bottom: 25px;
	text-align: left;
	width: 60%;
}

/********************/
/* HEADINGS CSS */
/********************/

h1,
h2,
h3 {
	/* The font-size is dependent on the html parent element; 200% of 20px will be 40px */
	font-weight: 300;
	letter-spacing: 1px;
}

h1 {
	color: #fff;
	font-size: 240%;
	margin: 0;
	margin-bottom: 20px;
	word-spacing: 3px;
}

h2 {
	font-size: 180%;
	margin-bottom: 50px;
	text-align: center;
	word-spacing: 2px;
}

h2:after {
	content: " ";
	display: block;
	height: 2px;
	margin: 0 auto;
	margin-top: 20px;
	width: 100px;
}

.about-header h2:after,
.portfolio-header h2:after { background-color: #6fb2c2; }

.skills-header h2:after { background-color: #fff; }

.recommendations-header { color: #fff; }

.recommendations-header h2:after { background-color: #fff; }

h3 {
	font-size: 110%;
	text-align: center;
}

.portfolio h3 {
	font-weight: 400;
	margin-bottom: 10px;
	text-align: left;
}

.portfolio p { line-height: 125%; }

/********************/
/* HEADER CSS */
/********************/

.hero-main {
	background-attachment: fixed;
	background-color: #1b2a2e;
	/* This is in case the background picture doesn't load */
	background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(/resources/css/background_images/hero_sunset1-min.jpg);
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/resources/css/background_images/hero_sunset1-min.jpg);
	background-position: center;
	background-size: cover;
	height: 100vh;
}

.hero-text-box {
	left: 50%;
	position: absolute;
	top: 50%;
	width: 1140px;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

/********************/
/* NAVBAR CSS */
/********************/

.navbar-custom { background-color: #121d1f; }

.nav-header {
	float: left;
	margin-bottom: 30px;
	margin-top: 30px;
}

.nav-main {
	float: right;
	list-style: none;
	margin-top: 30px;
}

.nav-main li {
	display: inline-block;
	margin-bottom: 30px;
	margin-left: 30px;
}

.nav-header a:link,
.nav-header a:visited,
.nav-main li a:link,
.nav-main li a:visited {
	color: #fff;
	font-size: 90%;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.nav-main li a:hover { color: #6fb2c2; }

/********************/
/* BUTTON CSS */
/********************/

.btn-header:link,
.btn-header:visited,
.btn-home:link,
.btn-home:visited {
	border-radius: 200px;
	display: inline-block;
	padding: 10px 30px;
	text-decoration: none;
	-webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
	transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-header:link,
.btn-header:visited {
	border: 1px solid #fff;
	color: #fff;
}

.btn-home:link,
.btn-home:visited {
	border: 1px solid #121d1f;
	color: #121d1f;
}

.btn-header:hover,
.btn-header:active,
.btn-home:hover,
.btn-home:active {
	background-color: #6fb2c2;
	border: 1px solid transparent;
}

.btn-about:link,
.btn-about:visited {
	background-color: #121d1f;
	color: #fff;
	padding: 10px 30px;
	text-decoration: none;
	-webkit-transition: background-color 0.2s;
	transition: background-color 0.2s
}

.btn-about:hover,
.btn-header:active { background-color: #6fb2c2; }

/********************/
/* IMAGES CSS */
/********************/

.about-photo img {
	border-radius: 50%;
	display: block;
	margin: 0 auto;
	margin-bottom: 30px;
	width: 20%;
}

.image { height: 300px; }

.image img { width: 100%; }

.image {
	font-size:24px;
  position:relative;
}

.image:after,
.image:before {
	opacity:0;
	position:absolute;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}

.image:after {
	background:rgba(0,0,0,0.6);
	content:'\A';
	top:0; left:0;
	width:100%; height:100%;
}

.image:before {
	bottom:45%;
	color:#fff;
	content: attr(data-content);
	font-size: 20px;
	font-weight: bold;
	text-align:center;
	width:100%;
	z-index:1;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}

.image:hover:after, .image:hover:before { opacity:1; }

/********************/
/* ICONS CSS */
/********************/

.about-text i {
	font-size: 125%;
	margin-right: 8px;
}

.skills i {
	display: block;
	font-size: 300%;
	margin-bottom: 10px;
	text-align: center;
}

.social-icons ul { text-align: center; }

.social-icons i { font-size: 150%; }

.social-icons li {
	margin-left: 3%;
	margin-right: 3%;
}

.social-main li { display: inline-block; }

.social-icons a:link,
.social-icons a:visited {
	border: 1px solid #121d1f;
	border-radius: 100%;
	color: #121d1f;
	display: block;
	height: 40px;
	line-height: 20px;
	padding-top: 10%;
	text-decoration: none;
	width: 40px;
	-webkit-transition: border 0.2s color 0.2s;
	transition: border 0.2s color 0.2s;
}

.social-icons .twitter:hover {
	background-color: #55acee;
	border: 1px solid #fff;
	color: #fff;
}

.social-icons .codepen:hover {
	background-color: #000;
	border: 1px solid #fff;
	color: #fff;
}

.social-icons .linkedin:hover {
	background-color: #007bb5;
	border: 1px solid #fff;
	color: #fff;
}

.social-icons .github:hover {
	background-color: #000;
	border: 1px solid #fff;
	color: #fff;
}

.social-icons .freecodecamp:hover {
	background-color: #006400;
	border: 1px solid #fff;
	color: #fff;
}

.social-icons ul:before,
.social-icons ul:after {
	background-color: #121d1f;
	content: " ";
	display: inline-block;
	height: 1px;
	position: relative;
	vertical-align: middle;
	width: 15%;
}

#social-options a:hover {
	-webkit-animation: rotate-center 0.8s ease-in-out both;
	-moz-animation: rotate-center 0.8s ease-in-out both;
	animation: rotate-center 0.8s ease-in-out both;
}

/********************/
/* ABOUT CSS */
/********************/

.about-text a {
  display: inline-block; 
}

.about-inline-anchor {
  color: #555;
  font-style: italic;
}

.about-text p:last-child { text-align: center; }

/********************/
/* SKILLS CSS */
/********************/

.skills { background-color: #6fb2c2; }

/********************/
/* PORTFOLIO CSS */
/********************/

#portfolio article { border-bottom: 1px solid #d5d5d5; }

#portfolio article:last-of-type { border-bottom: none; }

.portfolio a:link,
.portfolio a:visited {
	border-bottom: 2px solid #fff;
	color: #555;
	font-weight: 400;
	margin-right: .5em;
	text-decoration: none;
	transition: border-bottom 0.2s;
}

.portfolio a:hover { border-bottom: 2px solid #555; }

/********************/
/* RECOMMENDATIONS CSS */
/********************/

.recommendations {
	background-attachment: fixed;
	background-color: #040809;
	/* This is in case the background picture doesn't load */
	background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/resources/css/background_images/testimonal_background1-min.jpg);
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/resources/css/background_images/testimonal_background1-min.jpg);
	background-position: center;
	background-size: cover;
	height: 600px;
}

blockquote {
	color: white;
	padding: 2%;
	font-style: italic;
	line-height: 145%;
}

cite {
	display: block;
	font-size: 90%;
	margin-top: 25px;
}

/********************/
/* ANIMATION CSS */
/********************/

.js--wp-1 {
	opacity: 0;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
}

.js--wp-1.animated { opacity: 1; }
