/********************/
/* COLORS */
/********************/
/* Dark Color - #121d1f */
/* Blue Color - #6fb2c2 */

/********************/
/* BODY CSS */
/********************/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* The box-sizing propery is used to tell the browser what the sizing properties (width and height) should include; border-box includes content, padding, and border, but not the margin */
}

html {
	background-color: #fff;
	color: #555;
	font-family: 'Lato', 'Arial', sans-serif;
	font-weight: 300;
	font-size: 20px;
	text-rendering: optimizeLegibility;
	/* The text-rendering property provides information to the rendering engine about what to optimize for when rendering text; optimizeLegibility emphasizes legibility over rendering speed */
}

/********************/
/* REUSABLE CSS */
/********************/

.row {
	max-width: 1140px;
	margin: 0 auto;
}

section {
	padding: 80px 0;
}

/********************/
/* MULTIPURPOSE CSS */
/********************/

.skills,
.arrow-home {
	padding: 40px 0;
}

/********************/
/* PARAGRAPHS CSS */
/********************/

.hero-text-box span {
	font-weight: bold;
	font-style: italic;
	font-size: 150%;
}

.hero-text-box p {
	color: #fff;
	margin-bottom: 20px;
	width: 45%;
	line-height: 200%;
	letter-spacing: 1px;
}

.about-text p {
	line-height: 135%;
	width: 60%;
	margin: 0 auto;
	padding-bottom: 30px;
}

/********************/
/* HEADINGS CSS */
/********************/

h1, 
h2, 
h3 {
	/* The font-size is dependent on the html parent element; 200% of 20px will be 40px */
	font-weight: 300;
	letter-spacing: 1px;
}

h1 {
	margin: 0;
	margin-bottom: 20px;
	color: #fff;
	font-size: 240%;
	word-spacing: 3px;
}

h2 {
	margin-bottom: 50px;
	font-size: 180%;
	word-spacing: 2px;
	text-align: center;
}

h2:after {
	display: block;
	height: 2px;
	content: " ";
	width: 100px;
	margin: 0 auto;
	margin-top: 20px;
}

.about-header h2:after,
.portfolio-header h2:after {
	background-color: #6fb2c2;
}

.skills-header h2:after {
	background-color: #fff;
}

.testimonal-header {
	color: #fff;
}

.testimonal-header h2:after {
	background-color: #fff;
}

h3 {
	font-size: 110%;
	text-align: center;
}

.portfolio h3 {
	text-align: left;
	margin-bottom: 20px;
}

/********************/
/* HEADER CSS */
/********************/

header {
	background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/resources/css/background_images/hero_sunset1.jpg);
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/resources/css/background_images/hero_sunset1.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
	background-attachment: fixed;
}

.hero-text-box {
	position: absolute;
	width: 1140px;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

/********************/
/* NAVBAR CSS */
/********************/

.navbar-custom {
	background-color: #121d1f;
}

.nav-header {
	float: left;
	margin-top: 30px;
	margin-bottom: 30px;
}

.nav-main {
	float: right;
	list-style: none;
	margin-top: 30px;
}

.nav-main li {
	display: inline-block;
	margin-left: 30px;
	margin-bottom: 30px;
}

.nav-header a:link,
.nav-header a:visited,
.nav-main li a:link,
.nav-main li a:visited {
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-size: 90%;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.nav-main li a:hover {
	color: #6fb2c2;
}

/********************/
/* BUTTON CSS */
/********************/

.btn-header:link,
.btn-header:visited,
.btn-home:link,
.btn-home:visited {
	display: inline-block;
	padding: 10px 30px;
	text-decoration: none;
	border-radius: 200px;
	-webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
	transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-header:link,
.btn-header:visited {
	color: #fff;
	border: 1px solid #fff;
}

.btn-home:link,
.btn-home:visited {
	color: #121d1f;
	border: 1px solid #121d1f;
}

.btn-header:hover,
.btn-header:active,
.btn-home:hover,
.btn-home:active {
	background-color: #6fb2c2;
	border: 1px solid transparent;
}

.btn-about:link,
.btn-about:visited {
	padding: 10px 30px;
	text-decoration: none;
	background-color: #121d1f;
	color: #fff;
	-webkit-transition: background-color 0.2s;
	transition: background-color 0.2s
}

.btn-about:hover,
.btn-header:active {
	background-color: #6fb2c2;
}

/********************/
/* IMAGES CSS */
/********************/

.about-photo img {
	width: 20%;
	border-radius: 50%;
	display: block;
	margin: 0 auto;
	margin-bottom: 30px;
}

.image {
	height: 300px;
}

.image img {
	width: 100%;
}

.image {
    position:relative;
    font-size:24px;
}

.image:after,
.image:before {
    position:absolute;
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.image:after {
    content:'\A';
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
}

.image:before {
    content: attr(data-content);
    font-size: 20px;
    width:100%;
    color:#fff;
    z-index:1;
    bottom:45%;
    font-weight: bold;
    text-align:center;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}

.image:hover:after, .image:hover:before {
    opacity:1;
}

/********************/
/* ICONS CSS */
/********************/

.about-text i {
	font-size: 125%;
	margin-right: 8px;
}

.skills i {
	font-size: 300%;
	display: block;
	text-align: center;
	margin-bottom: 10px;
}

.social-icons ul {
	text-align: center;
}

.social-icons i {
	font-size: 150%;
}

.social-icons li {
	margin-left: 3%;
	margin-right: 3%;
}

.social-main li {
	display: inline-block;
}

.social-icons a:link,
.social-icons a:visited {
	text-decoration: none;
	color: #121d1f;
	border-radius: 100%;
	height: 40px;
	width: 40px;
	display: block;
	line-height: 20px;
	border: 1px solid #121d1f;
	padding-top: 10%;
	-webkit-transition: border 0.2s color 0.2s;
	transition: border 0.2s color 0.2s;
}

.social-icons .facebook:hover {
	background-color: #3b5998;
	border: 1px solid #fff;
	color: #fff;
}

.social-icons .twitter:hover {
	background-color: #55acee;
	border: 1px solid #fff;
	color: #fff;
}

.social-icons .google-plus:hover {
	background-color: #dd4b39;
	border: 1px solid #fff;
	color: #fff;
}

.social-icons .linkedin:hover {
	background-color: #007bb5;
	border: 1px solid #fff;
	color: #fff;
}

.social-icons .github:hover {
	background-color: #000;
	border: 1px solid #fff;
	color: #fff;
}

.social-icons ul:before,
.social-icons ul:after {
	background-color: #121d1f;
	content: " ";
	display: inline-block;
	height: 1px;
	position: relative;
	vertical-align: middle;
	width: 15%;
}

/********************/
/* ABOUT CSS */
/********************/

.about-text a {
	display: inline-block;
}

.about-text p:nth-child(2) {
	text-align: center;
}

/********************/
/* SKILLS CSS */
/********************/

.skills {
	background-color: #6fb2c2;
}

/********************/
/* TESTIMONALS CSS */
/********************/

.testimonal {
	background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/resources/css/background_images/testimonal_background1.jpg);
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/resources/css/background_images/testimonal_background1.jpg);
	background-size: cover;
	background-position: center;
	height: 600px;
	background-attachment: fixed;
}

blockquote {
	padding: 2%;
	font-style: italic;
	line-height: 145%;
	color: white;
}

cite {
	font-size: 90%;
	margin-top: 25px;
	display: block;
}

.testimonal-body {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}